<!DOCTYPE html>
<html>
  <head>
    <title>Robo Control</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="//code.jquery.com/jquery-2.2.4.min.js"></script>
  </head>
  <body>
    <header class="title">
      <div>
          <h1>Robo Control</h1>
      </div>
  </header>
  <main>
      <section class="card">
          <span class="one-part">
              <p>
                  SPO2
              </p>
              <button class="on-btn" id="ox_on">
                  ON
              </button>
              <button class="off-btn" id="ox_off">
                OFF
            </button>
          </span>
          <span class="one-part">
              <p>
                  Temperature
              </p>
              <button class="on-btn" id="temp_on">
                ON 
            </button>
              <button class="off-btn" id="temp_off">
                  OFF 
              </button>
          </span>
          <span class="one-part">
              <p>
                  Pressure
              </p>
              <button class="on-btn" id="pressure_on">
                ON 
            </button>
              <button class="off-btn" id="pressure_off">
                  OFF 
              </button>
          </span>
      </section>
      <section class="controller-card">
          <span class="one-part">
              <p>
                  Follow Line
              </p>
              <button class="follow-btn" id="line">
                  FOLLOW
              </button>

              <p>
                Examine
            </p>
            <button class="examine-btn" id="examine">
                EXAMINE
            </button>
          </span>
          <span class="one-part">
            <p>
              Emerg Stop
            </p>
              <button class="es-btn" id="stop">
                  STOP 
              </button>
          </span>
          <div class="controller">
              <button class="control-btn">
                  <img class="control-img" src="./images/forward.png"/>
              </button><br/>
              <span class="controls-lfrt">
                  <button class="control-btn">
                      <img class="control-img" src="./images/left.png"/>
                  </button>
                  <button class="control-btn">
                      <img class="control-img" src="./images/right.png"/>
                  </button>
              </span>
              <button class="control-btn">
                  <img class="control-img" src="./images/back.png"/>
              </button><br/>
          </div>
      </section>
  </main>



    <script>
      	$("button").click(function() {$.post("/move", {movement: this.id})});
    </script>
  </body>
</html>
